/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #00796b, #004d40);
    color: #333;
}

.container, .chat-container {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #333333;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #00796b;
}

.btn-primary:hover {
    background-color: #004d40;
}

.chat-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chat-header {
    padding: 10px;
    background: #00796b;
    color: #fff;
    border-radius: 8px 8px 0 0;
    text-align: center;
}

.message-area {
    flex: 1;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
}

.message-area li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.chat-message p {
    margin: 0;
    line-height: 1.5rem;
    color: #555;
    padding: 10px;
    flex-direction: column;
}

.chat-message, .event-message {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    color: #333;
}

.chat-message i, .event-message i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    margin-right: 10px;
}

.event-message {
    background-color: #eee;
}

.chat-message span {
    font-weight: bold;
    margin-bottom: 3px;
    color: #333;
    display: inline-block;
}



.message-form {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.message-form input {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.message-form button {
    flex-shrink: 0;
}

.hidden {
    display: none;
}
